/* ============ General Tags ============ */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    animation: loadAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    background-image: url(../assets/background.png);
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
 
@keyframes loadAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* ============ Classes ============ */

.titles h3, #inputContainer {
    display: inline;
}

.tile {
    animation: loadAnimation ease 0.2s;
}

.input {
    text-align: left;
    height: fit-content;
    margin-bottom: -9px;
    margin-left: 6px;
    user-select: none;
}

.gameInfo {
    padding: 5px;
    background-color: #bdbdbd;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerTop, .containerMid, .containerBot {
    border-style: solid;
}

.window {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.window-body {
    margin: 4px !important;
    margin-right: 3px !important;
    margin-bottom: 0.5px !important;
}

.containerTop {
    border-width: 2.5px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
}

.containerMid {
    border-width: 6px;
    border-color: #bdbdbd;
}

.containerBot {
    border-width: 2.5px;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
}

/* ============ IDs ============ */

#gridMatrix {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
}

#gridMatrix td {
    width: 18px;
    height: 18px;
    padding: 0px;
}

#gridMatrix td img {
    width: 18px;
    height: 18px;
    display: block;
}

#selectDifficulty {
    cursor: pointer;
}

#gameContainer {
    margin: 0 auto;
    width: fit-content;
    position: relative;
}

#time, #flags {
    display: inline-block;
    width: max-content;
}

#time img, #flags img {
    height: 26px;
    float: left;
}

#status {
    display: flex;
    align-items: center;
}

#status img {
    width: 30px;
    height: 30px;
}

#customInputs input[type=number] {
    width: 50px;
}

#submitChoice {
    text-align: center;
    width: 95px; 
    height: 30px;
    cursor: pointer;
    margin-top: 16px;
}

#openGameOptions, #openHelpPdf a {
    color: #551A8B !important;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}

#openGameOptions {
    margin-right: 4px;
}
#inputContainer {
    line-height: 200%  !important;
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    border-color: #bdbdbd;
    border-style: double;
    font-size: 13px;
    margin-left: -5px;
}

#inputContainer label, #inputContainer option, #inputContainer select, #inputContainer button, #inputContainer input {
    font-family: Arial;
    font-size: 13px;
}

#preload {
    display: none;
}